<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.project.dao.EnterpriseProjectDao">	
	<resultMap id="enterpriseProjectMap" type="com.web.project.model.enterprise.EnterpriseProject" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="EnterpriseID" property="enterpriseId" jdbcType="VARCHAR" />		
		<result column="title" property="title" jdbcType="VARCHAR" />	
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="techfield" property="field" jdbcType="VARCHAR" />
		<result column="contractor" property="contractor" jdbcType="VARCHAR" />
		<result column="management" property="management" jdbcType="VARCHAR" />	
		<result column="contact" property="contack" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />	
		<result column="peopleInCharge" property="peopleInCharge" jdbcType="VARCHAR" />	
		<result column="industryField" property="industryField" jdbcType="VARCHAR" />	
		<result column="subjectCode" property="subjectCode" jdbcType="INTEGER" />
		<result column="projectOrigin" property="projectOrigin" jdbcType="VARCHAR" />	
		<result column="techOrigin" property="techOrigin" jdbcType="VARCHAR" />
		<result column="developType" property="developType" jdbcType="VARCHAR" />	
		<result column="productAdoption" property="productAdoption" jdbcType="VARCHAR" />	
		<result column="startTime" property="startTime" jdbcType="DATE" />
		<result column="endtime" property="endtime" jdbcType="DATE" />	
		<result column="IPRstatement" property="IPRstatement" jdbcType="VARCHAR" />	
		<result column="award" property="award" jdbcType="VARCHAR" />	
		<result column="techRightsandUsage" property="techRightsandUsage" jdbcType="VARCHAR" />	
		<result column="descriptionAndGoals" property="descriptionAndGoals" jdbcType="VARCHAR" />	
		<result column="createPoints" property="createPoints" jdbcType="VARCHAR" />	
		<result column="workBasis" property="workBasis" jdbcType="VARCHAR" />	
		<result column="Schedule" property="schedule" jdbcType="VARCHAR" />	
		<result column="corTypeAndName" property="corTypeAndName" jdbcType="VARCHAR" />	
		<result column="corGoalsandInvest" property="corGoalsandInvest" jdbcType="VARCHAR" />	
		<result column="corDepartmentandPerson" property="corDepartmentandPerson" jdbcType="VARCHAR" />	
		<result column="corEmailandAddress" property="corEmailandAddress" jdbcType="VARCHAR" />	
		<result column="serviceType" property="serviceType" jdbcType="VARCHAR" />	
		<result column="serviceNumber" property="serviceNumber" jdbcType="INTEGER" />	
		<result column="numberToserve" property="numberToserve" jdbcType="INTEGER" />	
		<result column="Servicetypeorplatform" property="servicetypeorplatform" jdbcType="VARCHAR" />	
		<result column="planServicetypeorplatform" property="planServicetypeorplatform" jdbcType="VARCHAR" />	
		<result column="dealNumber" property="dealNumber" jdbcType="INTEGER" />	
		<result column="applyTime" property="applyTime" jdbcType="INTEGER" />	
		<result column="department" property="department" jdbcType="VARCHAR" />	
		<result column="competentDepartment" property="competentDepartment" jdbcType="VARCHAR" />
		<result column="contactPhoneNumber" property="contactPhoneNumber" jdbcType="VARCHAR" />				
	</resultMap>
	<resultMap id="enterpriseCommonProjectMap" type="com.web.project.model.enterprise.EnterpriseCommonProject" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="EnterpriseID" property="enterpriseId" jdbcType="VARCHAR" />		
		<result column="title" property="title" jdbcType="VARCHAR" />	
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="techfield" property="techField" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="VARCHAR" />
		<result column="submitTime" property="submitTime" jdbcType="INTEGER" />
		<result column="expertId" property="expertId" jdbcType="INTEGER" />
		<result column="evaluation" property="evaluation" jdbcType="VARCHAR" />
		<result column="evaluateTime" property="evaluateTime" jdbcType="INTEGER" />
		<result column="isEvaluated" property="isEvaluated" jdbcType="TINYINT" />
	</resultMap>
	
	<select id="getEnterpriseProjectsByState"  resultMap="enterpriseProjectMap">        
        select * from enterpriseproject 
        <where>
		state=#{state}
		</where> 	       
	</select>   
		    
	 <select id="getEnterpriseProjectDetail" resultMap="enterpriseProjectMap">
	 	select * from enterpriseproject
	 	<where>
	 		id=#{id} 
	 	</where>
	 </select>
	 
	 <select id="getEnterpriseCommonProjectLists" resultMap="enterpriseCommonProjectMap">	 	
	 	select * from enterpriseCommomproject	
	 	<where>
	     	isEvaluated=0 	 
	 	</where>	
	 </select>
	
	  <select id="getEnterpriseCommonProjectById" resultMap="enterpriseCommonProjectMap">
	 	select * from enterpriseCommomproject
	 	<where>
	 		id=#{id} 
	 	</where>
	 </select>
	 
	 <update id="updateEnterpriseCommonProject" >
		update enterpriseCommomproject
		<set>			
			evaluation=#{2},
			evaluatetime=#{3},
			isevaluated=#{1},
		</set>
		where id=#{0}
	</update>
</mapper>

