<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.project.dao.MakerCommonWorksDao">	 
    <resultMap id="makerWorkMap" type="com.web.project.model.maker.MakerCommonWorks" >
		<id column="id" property="id" jdbcType="INTEGER" /> 
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="makerId" property="makerId" jdbcType="INTEGER" />
		<result column="Team" property="team" jdbcType="VARCHAR" />
		<result column="contact" property="contack" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="field" property="field" jdbcType="VARCHAR" />
		<result column="submitTime" property="submitTime" jdbcType="VARCHAR" />
		<result column="fujian" property="fujian" jdbcType="BLOB" />
		<result column="fujiantype" property="fujianType" jdbcType="VARCHAR" />
		<result column="fujianname" property="fujianName" jdbcType="VARCHAR" />	
		<result column="isevaluated" property="isevaluated" jdbcType="BOOLEAN" />	
	</resultMap>    
	  
	<select id="getMakerCommonWorksList" resultMap="makerWorkMap"> 
		select * from makercommonworks order by submittime DESC;
	</select>
	
	<select id="getMakerCommonWorksDetailById" resultMap="makerWorkMap"> 
		select * from makercommonworks
		<where>
		id=#{id}
		</where>
		
	</select>
	
	<select id="getMakerCommonWorksListByUser" resultMap="makerWorkMap">
		select * from makercommonworks
		<where>
		makerId=#{id}
		</where>
		order by submittime DESC;
	</select>
</mapper>