<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.project.dao.MakerCommonWorksDao">	 
    <resultMap id="makerWorkMap" type="com.web.project.model.maker.MakerCommonWorks" >
		<id column="id" property="id" jdbcType="INTEGER" /> 
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="makerId" property="makerId" jdbcType="INTEGER" />
		<result column="Team" property="team" jdbcType="VARCHAR" />
		<result column="contact" property="contack" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="field" property="field" jdbcType="VARCHAR" />
		<result column="submitTime" property="submitTime" jdbcType="VARCHAR" />
		<result column="fujian" property="fujian" jdbcType="BLOB" />
		<result column="fujiantype" property="fujianType" jdbcType="VARCHAR" />
		<result column="fujianname" property="fujianName" jdbcType="VARCHAR" />	
		<result column="isevaluated" property="isevaluated" jdbcType="BOOLEAN" />
		<result column="isAssigned" property="isAssigned" jdbcType="TINYINT" />	
		<result column="evaluation" property="evaluation" jdbcType="VARCHAR" />
		<result column="evaluateTime" property="evaluateTime" jdbcType="INTEGER" />
	</resultMap>    
	  
	<select id="getMakerCommonWorksList" resultMap="makerWorkMap"> 
		select * from makercommonworks order by submittime DESC;
	</select>
	
	<select id="getMakerCommonWorksDetailById" resultMap="makerWorkMap"> 
		select * from makercommonworks
		<where>
		id=#{id}
		</where>
		
	</select>
	
	<select id="getMakerCommonWorksListByUser" resultMap="makerWorkMap">
		select * from makercommonworks
		<where>
		makerId=#{id}
		</where>
		order by submittime DESC;
	</select>
	
	<insert id="insertMakerCommonWork" parameterType="com.web.project.model.maker.MakerCommonWorks" keyProperty="id" useGeneratedKeys="true">
		insert into makercommonworks(title,makerid,team,field,contact,phone,email,submitTime,description,fujian,fujiantype,fujianname,isEvaluated,isAssigned
  				)
		VALUES (#{title},#{makerId},#{team},#{field},#{contack},#{phone},#{email},#{submitTime},#{description},#{fujian},#{fujianType},#{fujianName},0,0
				)
	</insert>
	
	<select id="getMakerCommonWorksListByTitle" resultMap="makerWorkMap">
	select * from makercommonworks
	<where>
		title=#{title}
		</where>
	</select>
	
	<select id="getNoAssignedMakerCommonWorksList" resultMap="makerWorkMap">
	select * from makercommonworks
	<where>
		isAssigned=0;
	</where>
	</select>
	
	<select id="getMakerCommonWorksListByState" resultMap="makerWorkMap">
	select * from makercommonworks
	<where>
		isevaluated=#{state};
	</where>
	</select>
	
	<update id="updateEvaluationOfMakerCommonWork" parameterType="com.web.project.model.maker.MakerCommonWorks">
		update makercommonworks
		<set>			
			isevaluated=#{isevaluated},evaluation=#{evaluation},evaluateTime=#{evaluateTime}
		</set>
		where id=#{id}
	</update>
	
	<update id="updateAssignOfMakerCommonWork" parameterType="com.web.project.model.maker.MakerCommonWorks">
		update makercommonworks
		<set>			
			isAssigned=1
		</set>
		where id=#{id}
	</update>
</mapper>