		*{
			margin:0;
			padding:0;  
			
		}
	
		body {
			margin:0;
			padding:0;   
			font:12px "ו";
		;}
		
		
		div,h1,fieldset,p{
			padding:0; 
			margin:0;
		}

		img{
			vertical-align:top;border:0;
			}
		
		ol,ul {
			list-style:none;
		}
		
		
		input{
			margin:0;
			padding:0;
		}
		
		
		input,img{
			line-height:normal;
		}
		

		a {color:#333333; text-decoration:none;}
		
		a:visited{text-decoration:none;}
		
		a:hover{color:#ff6600;text-decoration:underline;}
		
		a:active{color:#333333;}
		
		
		
 /*LogoBanner*/
		
		.biaoti{
		 	margin-top:35px;
			float:left;
			margin-left:10px;
		}
		
		
		
		#mainbanner{
			min-width:1000px;
			background-image:url(../image/19.jpg);
			background-size:contain;
			background-repeat:repeat-x;
			height: 100px;
			width: 100%; 
	
		}
	
	
		#navmenu{
			list-style-type: none;
		}
		
		
		#navmenu li{
				float: right;
				margin-right:15px;
				margin-left:-15px;
				margin-top:55px;
				width:100px;
				font-size:14px;
				font-weight:normal;
		}
		
		
			
			
		#navmenu  a{
				display:block;
				text-align:center;
				height:30px;
		}
			
		#navmenu  a:link{color:#333333; text-decoration:none;}
			
		#navmenu  a:visited{text-decoration:none;}
			
		#navmenu  a:hover{color:#ff6600;text-decoration:underline;}
		
		
		
		
		
	/*HeaderNav*/
		
		.navbg{ 
			float:left;
			width:100%;
			height:35px;
			margin:0px auto;
			clear:both; 
		}
		
		.navleft{
			float:left;
			width:145px;
			padding-left:6px;
			height:30px;
			line-height:38px;
			color:#fff100;font-weight:bold;
		}
		
		
		.navx{
			float:left;padding-right:6px;height:30px; line-height:38px;color:#fff100;font-weight:bold;
		}
				
		.nav{
			float:left;
			height:30px;
			line-height:30px;
			overflow:hidden;
			background:url(../images/navbg.gif) repeat-x;
		}
		
		.nav li{
			line-height:30px;
			float:left;
			padding-left:2px; 
			margin-left:-2px;
			background:url(../images/navx.gif) no-repeat;
			width:85px; text-align:center
		}
		
		.nav a{display:block;}
		
		.nav a.current{
			background:url(../images/nav_current.png) no-repeat;
			width:85px;text-align:center;
		}
		
		.nav a:link,.nav a:visited{color:#fff;width:85px;height:30px;}
		
		.nav a:hover{
			background:url(../images/nav_current.png) no-repeat;
			width:85px;text-align:center;color:#fff;
			text-decoration:none;
		 }
		
